<div class="row">
    <div class="col-sm-12">
        <div class="thankyou-holder">
            <div class="icon-holder">
                <div class="done-icon">
                    <mat-icon>done</mat-icon>
                </div>
            </div>
            <h1>Thanks for showing interest to join MACHS!</h1>
            <p>Please check your email for completing your profile setup with us. You will be asked to set your password along with a verification code. Complete your profile set-up and start submitting required admission requirements with in your login..</p>
           
        </div>
        <div class="btn_row justify-content-center">
            <button mat-flat-button color="primary" class="primary_button mt-4 d-flex" routerLink="/welcome" ><mat-icon class="md-22">login</mat-icon>Home</button>
        </div>
    </div>
</div>
