  
<div class="row">
    <div class="col-8">
        <form [formGroup]="addressDetailsForm">
            <div class="form_cnt mt-0">
              <h3>Where is your current address.</h3>
              <ng-container formArrayName="addressDetails">
                <ng-container *ngFor="let addressForm of addressGroup.controls; let index = index">
                  <ng-container  [formGroupName]="index">
                    <h3 *ngIf="index === 1">Permanent Address</h3>
                    <div class="row">
                      <div class="col-lg-4 col-sm-6">
                          <mat-form-field class="w-100">
                              <mat-label>Country</mat-label>
                              <mat-select formControlName="countryId">
                                  <mat-option [value]="country?.countryRecId" *ngFor="let country of masterData?.countryData">{{country?.countryName}}</mat-option>
                              </mat-select>
                          </mat-form-field>
                      </div>                    
                      <div class="col-lg-4 col-sm-6">
                        <mat-form-field class="w-100">
                          <mat-label>State</mat-label>
                          <mat-select formControlName="provinceName">
                            <mat-option [value]="province?.provinceName" *ngFor="let province of masterData?.provinceData">{{province?.provinceName}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>                
                    </div>
                    <div class="row">
                      <div class="col-lg-4 col-sm-6">
                          <mat-form-field class="w-100">
                              <mat-label>City</mat-label>
                              <mat-select formControlName="cityName">
                                <mat-option [value]="city?.cityName" *ngFor="let city of masterData?.cityData">{{city?.cityName}}</mat-option>
                              </mat-select>
                          </mat-form-field>
                      </div>
                      <div class="col-lg-3 col-sm-6">
                        <mat-form-field class="w-100">
                          <mat-label>Postal Code</mat-label>
                          <input matInput formControlName="postalCode">
                        </mat-form-field>
                      </div>
                      <div class="col-lg-4 col-sm-6">
                          <mat-form-field class="w-100">
                            <mat-label>Home Phone</mat-label>
                            <input matInput formControlName="homeTelephoneNumber">
                          </mat-form-field>
                      </div>
                      <ng-container *ngIf="index === 0">
                        <span class="bold_text mt-3 d-inline-block w-100 required">Is your current address same as permanent address?</span>
                        <div class="form_row">
                          <div class="row mt-2 mb-4">
                            <div class="col-6">
                              <label origEnter tabindex="0" class="radio_custom" [class.checked]="sameAsPermanent" (click)=" sameAsPermanent = true;handleAddressForm(true);"> Yes 
                                <input tabindex="-1" type="radio" id="yes" [checked]="sameAsPermanent">
                                <span class="material-icons"> done </span>
                              </label>
                            </div>
                            <div class="col-6">
                              <label origEnter tabindex="0" class="radio_custom" [class.checked]="!sameAsPermanent" (click)=" sameAsPermanent = false;handleAddressForm(false);"> No 
                                <input tabindex="-1" type="radio" id="no" [checked]="!sameAsPermanent">
                                <span class="material-icons"> done </span>
                              </label>
                            </div>
                          </div>
                        </div>
                      </ng-container>                      
                    </div>
                  </ng-container>
                </ng-container>
              </ng-container>
              
            </div>
          
            <div class="btn_row">
              <button type="button" mat-stroked-button color="primary" class="secondary_button mt-2 d-flex ms-auto me-3" aria-label="Back" routerLink="/dashboard/applications/personal-details"><mat-icon class="md-22">chevron_left</mat-icon> Back</button>
              <button type="button" mat-flat-button color="primary" class="primary_button mt-2 d-flex" (click)="saveAddressDetails()">Next<mat-icon class="md-22" iconPositionEnd>chevron_right</mat-icon></button>
            </div>
        </form>
    </div>
    <div class="col-4">
        <app-stepper [stepIndex]="3" class="d-none d-sm-block mob-hidden"></app-stepper>
    </div>
</div>

  
  
  
  
  