<div class="row">
    <div class="col-8">
        <div class="form_cnt mt-0">
            <h3>{{appDetails?.personalDetails?.firstNameEng}} {{appDetails?.personalDetails?.lastNameEng}}</h3>
            <p>{{appDetails?.degreeType}} | {{appDetails?.termName}}</p>
            <p>    
                <button class="edit-btn ms-0" color="accent" mat-flat-button><mat-icon>arrow_left</mat-icon>Back</button>
                <button class="edit-btn ms-1" color="primary" mat-flat-button><mat-icon>download</mat-icon> Download</button>
                <button class="edit-btn ms-1" color="primary" mat-flat-button>Next <mat-icon iconPositionEnd>arrow_right</mat-icon></button>
            </p>
            
                <mat-card>
                    <mat-card-content class="p-0 pb-2">
                        <div class="review-head">
                            <h6>Personal Details</h6>
                            <button mat-mini-fab color="primary" class="fr-fab ms-auto">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="user-details">
                                    <span>Soudi National</span><strong>Yes</strong>
                                </div>
                                <div class="user-details">
                                    <span>First Name in English</span><strong>{{appDetails?.personalDetails?.firstNameEng}}</strong>
                                </div>
                                <div class="user-details">
                                    <span>Father Name in Eglish</span><strong>{{appDetails?.personalDetails?.fatherNameEng}}</strong>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="user-details">
                                    <span>IQAMA No / National ID</span><strong>{{appDetails?.personalDetails?.nationalId}}</strong>
                                </div>                                
                                <div class="user-details">
                                    <span>Grand Father Name in Eglish</span><strong>{{appDetails?.personalDetails?.grandFatherNameEng}}</strong>
                                </div>
                                <div class="user-details">
                                    <span>Last Name in Eglish</span><strong>{{appDetails?.personalDetails?.lastNameEng}}</strong>
                                </div>
                                
                            </div>
                            <div class="col-6">
                                <div class="user-details">
                                    <span>First Name in Arabic</span><strong>{{appDetails?.personalDetails?.firstNameLocal}}</strong>
                                </div>
                                <div class="user-details">
                                    <span>Grand Father Name in Arabic</span><strong>{{appDetails?.personalDetails?.grandFatherNameEng}}</strong>
                                </div>
                                <div class="user-details">
                                    <span>Email</span><strong>{{appDetails?.personalDetails?.emailAddress}}</strong>
                                </div>
                                
                            </div>
                            <div class="col-6">
                                <div class="user-details">
                                    <span>Father Name in Arabic</span><strong>{{appDetails?.personalDetails?.fatherNameLocal}}</strong>
                                </div>
                                <div class="user-details">
                                    <span>Last Name in Arabic</span><strong>{{appDetails?.personalDetails?.lastNameLocal}}</strong>
                                </div>
                                <div class="user-details">
                                    <span>Phone</span><strong>{{appDetails?.personalDetails?.mobile}}</strong>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="user-details">
                                    <span>Date Of Birth</span><strong>{{(appDetails?.personalDetails?.dateOfBirth | date: 'MM/dd/yyy')}}</strong>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
                
            
                <mat-card class="mt-4">
                    <mat-card-content class="p-0 pb-2">
                        <div class="review-head">
                            <h6>Address Details</h6>
                            <button mat-mini-fab color="primary" class="fr-fab ms-auto">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                        <div class="row" *ngFor="let add of appDetails?.addressDetails?.applicantAddresses">
                            <div class="col-6">
                                <div class="user-details">
                                    <span>Address</span><strong>{{add?.address}}</strong>
                                </div>
                                <div class="user-details">
                                    <span>City</span><strong>{{add?.cityName}} </strong>
                                </div>
                                <div class="user-details">
                                    <span>State</span><strong>{{add?.provinceName}}</strong>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="user-details">
                                    <span>Postal Code</span><strong>{{add?.postalCode}}</strong>
                                </div>
                                <div class="user-details">
                                    <span>Home Telephone</span><strong>{{add?.homeTelephoneNumber}}</strong>
                                </div>
                                <div class="user-details">
                                    <span>Country</span><strong>{{add?.countryId}}</strong>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>

                <mat-card class="mt-4">
                    <mat-card-content class="p-0 pb-2">
                        <div class="review-head">
                            <h6>Educational Details</h6>
                            <button mat-mini-fab color="primary" class="fr-fab ms-auto">
                                <mat-icon>edit</mat-icon>
                            </button>
                        </div>
                        <div class="row" *ngFor="let edu of appDetails?.educationDetails">
                            <div class="col-6">
                                <div class="user-details">
                                    <span>Certificate Type</span><strong>{{edu?.certificateType}}</strong>
                                </div>
                                <div class="user-details">
                                    <span>City</span><strong>{{edu?.cityName}} </strong>
                                </div>
                                <div class="user-details">
                                    <span>Country</span><strong>{{edu?.countryId}}</strong>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="user-details">
                                    <span>Grade Type</span><strong>{{edu?.gradeType}}</strong>
                                </div>
                                <div class="user-details">
                                    <span>State</span><strong>{{edu?.provinceName}}</strong>
                                </div>
                                <div class="user-details">
                                    <span>School</span><strong>{{edu?.schoolName}}</strong>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            <div class="btn_row col-sm-12 pe-2" *ngIf="isEdit">
                <button mat-stroked-button color="primary" class="secondary_button mt-2 d-flex ms-auto me-2" aria-label="Back">Cancel</button>
                <button mat-flat-button color="primary" class="primary_button mt-2 d-flex">Save</button>
            </div>
        </div>
    </div>
    <div class="col-4">
        <app-stepper [stepIndex]="8" class="d-none d-sm-block mob-hidden"></app-stepper>
    </div>
</div>

