<footer class="footer_wrp">
  <div class="ftr_link">
    <ul>
      <li class="social_links institution d-none d-sm-block">
        MACH © 2023
      </li>
      <li class="d-lg-none d-xl-none d-md-none">
        <a href="javascript:void(0)" target="_blank">English</a>
      </li>
      <li class="d-lg-none d-xl-none d-md-none">/</li>
      <li>
        <a href="javascript:void(0)" target="_blank" class="privacy">Privacy</a>
      </li>
      <li>/</li>
      <li>
        <a href="javascript:void(0)" target="_blank">Security</a>
      </li>
    </ul>
  </div>  
</footer>
<p class="mb-2 d-flex d-block d-sm-none justify-content-center">MACH © 2023</p>
