  
<div class="row">
    <div class="col-8">
        <form [formGroup]="additionalDetailsForm">
            <div class="form_cnt mt-0">
              <h3>Additional details</h3>
              <p>Please answer the questions below.</p>

              <ng-container formArrayName="questionArray">
                <ng-container *ngFor="let qns of questionGroup.controls; let index = index">
                  <ng-container  [formGroupName]="index">
                    <div class="row" *ngIf="additionalDetails[index]?.questionDetails?.length > 0">
                      <div class="col-6">
                        <mat-form-field class="w-100">
                          <mat-label>{{qns?.get('questionEngName')?.value}}</mat-label>
                          <mat-select formControlName="questionsDetailsRecId">
                              <mat-option [value]="answer?.questionsDetailsRecId" *ngFor="let answer of additionalDetails[index]?.questionDetails">{{answer?.answerEngName}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                    </div>
                    
                  </ng-container>
                </ng-container>
              </ng-container>
            </div>
          
            <div class="btn_row">
              <button type="button" mat-stroked-button color="primary" class="secondary_button mt-2 d-flex ms-auto me-3" aria-label="Back" routerLink="/dashboard/applications/program-prefrences"><mat-icon class="md-22">chevron_left</mat-icon> Back</button>
              <button type="button" mat-flat-button color="primary" class="primary_button mt-2 d-flex" (click)="saveAdditionalDetails()">Next<mat-icon class="md-22" iconPositionEnd>chevron_right</mat-icon></button>
            </div> <!-- (click)="saveUserDetails()"-->
        </form>
    </div>
    <div class="col-4">
        <app-stepper [stepIndex]="7" class="d-none d-sm-block mob-hidden"></app-stepper>
    </div>
</div>

  
  
  
  
  